<!DOCTYPE html>
<html>
  	<head>
	    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
    <h1>MEAL INCOMING, {{ name }}!</h1>
		<p>Check out the details below about your meal!</p>

    <h2>MEAL DETAILS</h2>
    <ol type="1">
      <li>DATE - {{ datetime }}</li>
      <li>MEAL - {{ meal }}</li>
      <li>LOCATION - {{ location }}</li>
      <li>YOUR GUEST'S ATTIRE - {{ attire }}</li>
    </ol>

    <p>Hope your meal is fantastic!</p>

    <br>

    <p>Questions? Email us at princeton.meal.matcher@gmail.com</p>
		
	</body>
</html>