mealmatcher_project/.idea/*
.idea/*
mealmatcher.sublime-project
mealmatcher.sublime-workspace
mealmatcher_project/.idea/mealmatcher_project.iml
mealmatcher_project/.idea/workspace.xml
*.pyc
staticfiles
.idea/.name
index_submission.html
settings_complete.py