mealmatcher_project/.idea/vcs.xml
mealmatcher_project/.idea/misc.xml
mealmatcher_project/.idea/modules.xml
mealmatcher_project/.idea/.name
mealmatcher_project/.idea/encodings.xml
mealmatcher_project/.idea/scopes/scope_settings.xml
mealmatcher.sublime-project
mealmatcher.sublime-workspace
mealmatcher_project/.idea/mealmatcher_project.iml
mealmatcher_project/.idea/workspace.xml
*.pyc