.centered
{
	text-align: center;
	color: white;
}

.resize
{
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

/* from example: http://stackoverflow.com/questions/22254575/create-a-calendar-using-clndr-js */
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}

body {

}

@import url(http://fonts.googleapis.com/css?family=Asap:400,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
#mini-clndr {
  width: 100%;
  background-color: #ebebeb;
  font-weight: 700;
  -moz-box-shadow: 0px 4px 0 #343434;
  -webkit-box-shadow: 0px 4px 0 #343434;
  box-shadow: 0px 4px 0 #343434;
}
#mini-clndr .clndr .controls {
  padding: 14px;
  background-color: #414141;
  color: white;
  text-align: center;
}
#mini-clndr .clndr .controls .clndr-previous-button {
  float: left;
  text-align: left;
}
#mini-clndr .clndr .controls .clndr-next-button {
  float: right;
  text-align: right;
}
#mini-clndr .clndr .controls .clndr-previous-button,
#mini-clndr .clndr .controls .clndr-next-button {
  width: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */

  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */

}
#mini-clndr .clndr .controls .clndr-previous-button:hover,
#mini-clndr .clndr .controls .clndr-next-button:hover {
  opacity: 0.5;
}
#mini-clndr .clndr .controls .month {
  width: 70%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
#mini-clndr .clndr-grid {
  /*float: left;*/
  /*width: 65%;*/
  /*border-right: 2px solid white;*/
}
#mini-clndr .clndr-grid .days-container {
  width: 100%;
  background-color: #3883a3;
}
#mini-clndr .clndr-grid .days-container .days .headers .day-header {
  float: left;
  width: 14.2857%;
  padding: 14px;
  text-align: center;
  color: white;
}
#mini-clndr .clndr-grid .days {
  width: 100%;
}
#mini-clndr .clndr-grid .days .day,
#mini-clndr .clndr-grid .days .empty {
  float: left;
  width: 14.2857%;
  height: 66px;
  padding: 24px 0;
  text-align: center;
  color: #4f4f4f;
  background-color: #ebebeb;
  border-bottom: 2px solid white;
  /*background-image: url('http://kylestetz.github.io/CLNDR/css/./triangle.svg');*/
  background-size: cover;
  background-position: center;
}
#mini-clndr .clndr-grid .days .day.event .day-number,
#mini-clndr .clndr-grid .days .empty.event .day-number {
  padding-bottom: 4px;
  border-bottom: 2px solid #3883a3;
}
#mini-clndr .clndr-grid .days-container .days .day.adjacent-month,
#mini-clndr .clndr-grid .days-container .days .empty.adjacent-month {
  opacity: 0.3;
}
#mini-clndr .clndr-grid .days .today {
  background-color: white;
  background-image: none;
}
/*#mini-clndr .event-listing {
  float: left;
  width: 35%;
}
#mini-clndr .event-listing .event-listing-title {
  padding: 14px;
  background-color: #71bbd2;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}
#mini-clndr .event-listing .event-item {
  padding: 14px;
  color: #4f4f4f;
}
#mini-clndr .event-listing .event-item-location {
  font-weight: 400;
}
*/
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */

  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */

}

.change-font-size {
    font: normal 18px Helvetica;
}

.change-font-size-bigger{
  font: normal 24px Helvetica;
}

.align-right
{
  text-align: right;
}

.error-font
{
  color: black;
  font: normal 24px Helvetica;
}

.pic-resize
{
  max-width:10%
  max-width:10%;
}

img {
    max-width: 50%;
    height: auto;
}